/* .App {
  text-align: center;
  background-image: url('./vprwvee.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 background-position: bottom;
   
} */
 
body{
  background-image: url('./vprwvee.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 background-position: bottom;
  height: 100vh;
 
}
.box{
 position: relative;
}
.controls{
  
 display: flex;
 justify-content: center;
 align-items: center;
  height: 10em;
  width: 65rem;
  margin: 1em auto;
  font-size: large;
  background-color: transparent;
}
.piano{

  display:flex;
  justify-content: center;
}

#white {
  
  border: none;
   color: transparent;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 10rem;
  height: 40rem;
  z-index: 2;
}
#white:hover{
  
  font-weight: 900;
  font-size: large;
  
}
#black{
  
 border: none;
  height: 20rem;
  width: 6rem;
  margin-left: -3rem;
  margin-right: -3rem;
  z-index: 3;
  color:transparent;
}

.C{
  background-color: rgba(114, 114, 114, 0.438);  

  }


.D{
  background-color: rgba(114, 114, 114, 0.438);;  
}

.E {
  background-color: rgba(114, 114, 114, 0.438);;  
}
.F{
  background-color: rgba(114, 114, 114, 0.438);;  
}
.G{
  background-color: rgba(114, 114, 114, 0.438);;  
}
.A{
  background-color: rgba(114, 114, 114, 0.438);;  
}
.B{
  background-color: rgba(114, 114, 114, 0.438);;  
}
.C:hover{
  background-color: rgba(0, 255, 234, 0.219);  
}
  .D:hover{
    background-color:rgba(0, 123, 255, 0.212);
}
.E:hover {
  background-color: rgba(70, 0, 234, 0.267);
}
.F:hover{
  background-color: rgba(82, 0, 0, 0.226);
}
.G:hover{
  background-color: rgba(179, 0, 0, 0.205);
}
.A:hover{
  background-color: rgba(255, 98, 0, 0.192);
}
.B:hover{
  background-color: rgba(153, 255, 0, 0.185);
}


button {
  background-color: transparent;  
  border: 1px solid black;
  color: black;
  height: 3rem;
  font-size: large;
}
button:hover{
  background-color: rgba(214, 83, 214, 0.192);
}
 
  select::-ms-expand {
    display: none;
    }

  select option {
    background-color: red;
  }
 
 .selectdiv:after {

   
   top: 18px;
   padding: 0 0 2px;
   border-bottom: 1px solid #999;
   /*left line */
   
   position: absolute;
   pointer-events: none;
 }
 
 .controls select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   
   
   display: block;
   width: 4rem;
   max-width: 320px;
   height: 3rem;
   float: right;
   margin: 5px 0px;
   padding: 0px 24px;
   font-size: 16px;
   line-height: 1.75;
   color: black;
   background-color: transparent;
   background-image: none;
   border: 1px solid black;
   -ms-word-break: normal;
   word-break: normal;
 }

 .Cs{
  background-color: rgba(53, 53, 53, 0.438);  
  }
.Ds{
  background-color: rgba(53, 53, 53, 0.438); 
}

.Fs{
  background-color: rgba(53, 53, 53, 0.438);  
}
.Gs{
  background-color: rgba(53, 53, 53, 0.438);  
}
.As{
  background-color: rgba(53, 53, 53, 0.438);  
}

 .Cs:hover{
  background-color: rgba(0, 255, 232, 0.219);  
}
  .Ds:hover{
    background-color:rgba(5, 0, 255, 0.212);
}

.Fs:hover{
  background-color: rgba(82, 0, 0, 0.226);
}
.Gs:hover{
  background-color: rgba(238, 0, 0, 0.205);
}
.As:hover{
  background-color: rgba(255, 236, 0, 0.192);
}