.App {
  text-align: center;
 
   
}

body{
  background-color: rgb(29, 28, 28);
}
.piano{
  display:flex;
  justify-content: center;
}

#white {

  border: 3px solid rgba(255, 0, 0, 0.26);
   color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 10rem;
  height: 40rem;
  z-index: 2;
}
#white:hover{
  color: black;
  font-weight: 900;
  font-size: large;
  
}
#black{
  border: 3px solid black;
  background-color: rgb(31, 30, 30);
  height: 20rem;
  width: 6rem;
  margin-left: -3rem;
  margin-right: -3rem;
  z-index: 3;
  color:white;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;

}
#black:hover{
  background-color: darkgray;
}
.C{
  background-color: rgb(29, 28, 28);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  }
.C:hover{
  background-color: rgb(233, 60, 60);  
  }

.D{
  background-color: rgb(29, 28, 28);
}
.D:hover{
  background-color:rgb(202, 202, 7);
}
.E {
  background-color: rgb(29, 28, 28);
}
.F{
  background-color: rgb(29, 28, 28);
}
.G{
  background-color: rgb(29, 28, 28);
}
.A{
  background-color: rgb(29, 28, 28);
}
.B{
  background-color: rgb(29, 28, 28);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.E:hover {
  background-color: rgb(201, 76, 194);
}
.F:hover{
  background-color: blue;
}
.G:hover{
  background-color: orange;
}
.A:hover{
  background-color: purple;
}
.B:hover{
  background-color: green;
}